

.style-height-img{
    height: 40px;
}

.style-height-img-2{
    min-width: 130px;
}

.my-sidebar{
    width: 137px;
}

.my-height{
    height: calc(100vh - 54px);
}
.my-height-container{
    height: calc(100vh - 174px);
}


@media screen and (min-width: 0px) and (max-width: 991px){
    .my-sidebar{
        width:68px;
    }
}

.test{
    padding: 20px;
    background-color: aqua;
}