

.style-height-img{
    height: 40px;
}

.fa-solid.fa-bell{
    color: #fe8f03;
}

.my-sidebar{
    width: 137px;
}

.my-height{
    height: calc(100vh - 54px);
}

 button.table-hover:hover {
    background-color: #a09898;
}

.color-breadcrumbs{
    filter: brightness(0) invert(1);
}


@media screen and (min-width: 0px) and (max-width: 991px){
    .my-sidebar{
        width:68px;
    }
}

@media screen and (min-width: 992px) {
    .modal-fullscreen {
        width: 80%;
        margin-right: 0;
        margin-left: 20%;
    }
}

